# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.cb
*.cb2
*.dvi
*.fdb_latexmk
*.fls
*.gz
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.out
*.pdfsync
*.pgf
*.pyg
*.snm
*.synctex.gz
*.tdo
*.toc
*.vrb
*.xdv
*.latexmain
*.sagetex.sage
*.sagetex.sage.py
*.sagetex.sout
*.sagetex.scmd
logfile
*.latexmkrc
*.synctex(busy)

# LaTeX temporary files
*~
*.backup
*.bak
*.tmp
*.temp
